.footer {     /*  same footer on all pages except login and register.*/
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
}
  a.text-light {
    text-decoration: none;
  }
  a.text-light:hover {
    text-decoration: underline;
  }
  /* Style for profile logo */
  .profile-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
  }


body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #212529 !important;
}

.dark-mode .nav-link {
  color: #f8f9fa !important;
}

.dark-mode .nav-link:hover,
.dark-mode .nav-link:focus {
  color: rgba(255, 255, 255, 0.75) !important;
}

.dark-mode .footer {
  background-color: #212529 !important;
  color: #f8f9fa;
}


.dark-mode .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.dark-mode .btn-primary:hover,
.dark-mode .btn-primary:focus,
.dark-mode .btn-primary:active,
.dark-mode .btn-primary.active,
.dark-mode .btn-primary.focus,
.dark-mode .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
}


.dark-mode .profile-logo {
  filter: brightness(1.1) contrast(1.2);
}

.dark-mode #topicList li {
    color: #ffffff;
}

/* Tile Styles */
.card {
    border: 1px solid #dee2e6; /* Light border for tiles */
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Soft shadow */
}

.card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card-text.text-muted {
    font-size: 0.875rem;
}

.dark-mode .card {
    background-color: #343a40; /* Dark background for tiles in dark mode */
    border-color: #495057;
    color: #ffffff;
}
.dark-mode .card-text {
    color: #ffffff;
}
.dark-mode .card-text.text-muted {
    color: #adb5bd; /* Lighter text for muted text in dark mode */
}