
    .footer {     /*  same footer on all pages except login and register.*/
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: white;
    text-align: center;
}
    a.text-light {
      text-decoration: none;
    }
    a.text-light:hover {
      text-decoration: underline;
    }
    /* Style for profile logo */
    .profile-logo {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      object-fit: cover;
    }
